@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
  @apply text-sm;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInRhaWx3aW5kLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxjQUFjO0FBQ2Qsb0JBQW9CO0FBQ3BCLG1CQUFtQjs7QUFFbkI7RUFDRSxjQUFjO0FBQ2hCIiwiZmlsZSI6InRhaWx3aW5kLm91dHB1dC5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAdGFpbHdpbmQgYmFzZTtcbkB0YWlsd2luZCBjb21wb25lbnRzO1xuQHRhaWx3aW5kIHV0aWxpdGllcztcblxuLnRleHQge1xuICBAYXBwbHkgdGV4dC1zbTtcbn1cbiJdfQ== */